{% extends 'base_logins.html' %}
{% block content %}
<h3 class="text-center text-primary mb-4">Cambiar Contraseña (Admin)</h3>
<p class="text-center text-muted mb-3">Debes cambiar tu contraseña para continuar</p>
<form method="post">
    {% csrf_token %}
    <div class="mb-3 position-relative">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
            <input type="password" name="password" id="password" class="form-control" required>
            <span class="input-group-text bg-white border-start-0 toggle-password"
                  data-target="password" role="button" style="cursor: pointer;">
                <i class="fas fa-eye text-secondary"></i>
            </span>
        </div>
    </div>



    <div class="mb-3 position-relative">
        <label for="confirmar" class="form-label">Confirmar contraseña</label>
        <div class="input-group">
            <input type="password" name="confirmar" id="confirmar" class="form-control" required>
            <span class="input-group-text bg-white border-start-0 toggle-password"
                  data-target="confirmar" role="button" style="cursor: pointer;">
                <i class="fas fa-eye text-secondary"></i>
            </span>
        </div>
    </div>

    <button type="submit" class="btn btn-success w-100">Guardar nueva contraseña</button>
</form>

{% if error %}
<div class="alert alert-danger mt-3 text-center">{{ error }}</div>
{% endif %}
{% endblock %}
